 <h1 style="text-align: center; margin-top: 200px;">About Us</h1>
    <div class="container-about">
        <div class="text-about">
            <h2>Our Story</h2>
            <p>At Plant Palace, we believe in bringing joy and happiness through the beauty of
                nature.
                Our journey
                started with a small backyard garden and a passion for plants. Over the years, we have grown into a
                vibrant community of plant enthusiasts, sharing our love for gardening and spreading green
                inspiration.
            </p>
        </div>
        <div class="image-about">
            <img
                src="https://media.istockphoto.com/id/1370751748/vector/biophilic-interior-design-cozy-living-room-interior-chair-among-different-plants-pillow-and.jpg?s=612x612&w=0&k=20&c=OWtwEacd4afgRoHCnGe7D858lVkQTgHzkvkjzGHB9Qc=">
        </div>
    </div>
    <div class="container-about">
        <div class="text-about">
            <h2>Our Mission</h2>
            <p>We are on a mission to make gardening accessible, fun, and rewarding for everyone.
                Through our wide
                selection of plants, helpful resources, and engaging workshops, we aim to empower individuals to
                create
                their own green sanctuaries, fostering a deeper connection with nature and a greener planet.</p>
        </div>
        <div class="image-about">
            <img
                src="https://img.freepik.com/free-vector/flat-design-people-taking-care-plants-together_23-2148978279.jpg">
        </div>
    </div>

    <div class="container-about">
        <div class="text-about">
            <h2>Our Team</h2>
            <p>Our team consists of passionate and knowledgeable individuals who are dedicated to
                providing exceptional
                service and guidance. From seasoned horticulturists to design enthusiasts, we are here to assist you
                in
                every step of your gardening journey, helping you unleash your creativity and discover the joy of
                nurturing plants.</p>
        </div>
        <div class="image-about">
            <img
                src="https://img.freepik.com/free-vector/flat-people-taking-care-plants-together_52683-63885.jpg?size=626&ext=jpg&ga=GA1.2.432072805.1691715142&semt=ais">
        </div>
    </div>