<link rel="stylesheet" href="../assets/css/style.css" />
<link rel="stylesheet" href="../assets/css/substyle.css" />
 <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
<div id="main">
  <div>
    <header id="header2">
      <div class="header-wrapper">
        <div class="header-title">
          <div class="header-title-inner">
            <h1 class="header-title-desc">Products</h1>
          </div>
        </div>
        <div class="header-image">
          <div
            class="header-image-background header-image-background-hidden"
            style="background-image: url(../assets/img/garden.jpg)"
          ></div>
          <!-- <div class="header-image-background"></div>  -->
        </div>
      </div>
    </header>
    <div id="container">
      <div class="container-tiles">
        <a class="nav-link" href="./flowering.html">
          <!-- <img src="" alt="" class="container-tiles-image"> -->
          <span>Flowering</span>
        </a>
        <a class="nav-link" href="./frens.html">
          <!-- <img src="" alt="" class="container-tiles-image"> -->
          <span>Frens</span>
        </a>
        <a class="nav-link" href="./Cactisucculents.html">
          <!-- <img src="" alt="" class="container-tiles-image"> -->
          <span>Cacti & succulents</span>
        </a>
        <a class="nav-link" href="./trees.html">
          <!-- <img src="" alt="" class="container-tiles-image"> -->
          <span>Palms & trees</span>
        </a>
      </div>
      <div class="container-content">
        <div class="grid">
          <div class="grid-item grid-3">
            <div class="grid-item-sidebar">
              <div
                class="grid-item-sidebar-wrapper"
                style="min-height: initial"
              >
                <!--  -->
                <div class="grid-item-sidebar-filter">
                  <div class="grid-item-sidebar-filter-content-wrapper">
                    <div class="close-icon js-close-btn">
                      <i class="bx bx-x" style="color: #000"></i>
                    </div>
                    <h3 class="grid-item-sidebar-filter-content-title">
                      Filters
                    </h3>
                    <div class="grid-item-sidebar-filter-content-item">
                      <h4 class="grid-item-sidebar-filter-content-item-title">
                        CATEGORY
                      </h4>
                      <div
                        class="grid-item-sidebar-filter-content-item-dropdown"
                      >
                        <ul
                          class="grid-item-sidebar-filter-content-item-dropdown-list"
                        >
                          <li
                            class="grid-item-sidebar-filter-content-item-dropdown-item"
                          >
                            <input
                              type="checkbox"
                              class="grid-item-sidebar-filter-content-item-dropdown-item-checkbox js-category-filter"
                              value="chair"