<div class="container-contact" style="margin-top: 200px;">
    <div class="contact-section">
      <h2>Contact Us</h2>
      
      <div class="contact-details">
        <div class="card">
          <h3><i style="font-size:24px" class="fa">&#xf0e0;</i>&nbsp;Email</h3>
          <p>monkeysteam@cusc.ctu.edu.vn</p>
        </div>
        
        <div class="card">
          <h3><i style="font-size:24px" class="fa" >&#xf095;</i>&nbsp;Phone</h3>
          <p>123456789</p>
        </div>
        
        <div class="card">
          <h3><i style="font-size:24px" class="fa">&#xf041;</i>&nbsp;Address</h3>
          <p>Ninh Kieu, Can Tho, Vietnam</p>
        </div>
        
        <div class="card">
          <h3><i style="font-size:24px" class="fa">&#xf017;</i>&nbsp;Working Hours</h3>
          <p>9:00 AM - 5:00 PM</p>
        </div>
      </div>
    </div>
  </div>