 <div class="slider-container">
      <div class="content">
        <div class="introduce"></div>
        <div class="thumbnail-list">
          <div class="wrapper"></div>
        </div>
      </div>

      <div class="navigation">
        <button class="slider-button next-button">Next</button>
        <span class="line"></span>
        <span class="ordinal-number"></span>
      </div>
    </div>
    <!-- plant-signature  -->
    <div class="signature-plant-container">
      <div class="signature-plant-wrapper">
        <div class="signature-plant-title">
          <h1>favorite plants for you</h1>
        </div>
        <div class="signature-plant-wrapper-list">
          <div class="signature-plant-item">
            <div class="signature-plant-img">
              <img src="../assets/img/tree-2.jpg" alt="" />
            </div>
            <div class="signature-plant-content">
              <h4 class="signature-plant-title">name mjkd</h4>
              <p class="signature-plant-description">asfdgsdfgsdfgsdfggdf</p>
            </div>
          </div>
          <div class="signature-plant-item">
           <div class="signature-plant-img">
              <img src="../assets/img/tree-2.jpg" alt="" />
            </div>
            <div class="signature-plant-content">
              <h4 class="signature-plant-title">sdfgdfg</h4>
              <p class="signature-plant-description">sdfgsdfgsdfgsdfgdfsg</p>
            </div>
          </div>
          <div class="signature-plant-item">
            <div class="signature-plant-img">
              <img src="../assets/img/tree-2.jpg" alt="" />
            </div>
            <div class="signature-plant-content">
              <h4 class="signature-plant-title">dfgdsfg</h4>
              <p class="signature-plant-description">gdfgdsfgdsfgsdfgsdfg</p>
            </div>
          </div>
          <div class="signature-plant-item">
            <div class="signature-plant-img">
              <img src="../assets/img/tree-2.jpg" alt="" />
            </div>
            <div class="signature-plant-content">
              <h4 class="signature-plant-title">fdgsfgsdf</h4>
              <p class="signature-plant-description">sdfgsdfgsdfgsdfgsdfg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- plant tree -->
    <div class="plat-tree-container">
      <div class="plant-tree-center">
        <div class="plant-tree-wrapper-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>
      <div class="plant-tree-circle">
        <div class="plant-tree-wrapper-sub-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>
      <div class="plant-tree-circle">
         <div class="plant-tree-wrapper-sub-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>
      <div class="plant-tree-circle">
         <div class="plant-tree-wrapper-sub-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>
      <div class="plant-tree-circle">
         <div class="plant-tree-wrapper-sub-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>
      <div class="plant-tree-circle">
         <div class="plant-tree-wrapper-sub-img"><img src="../assets/img/garden.jpg" alt=""></div>
      </div>

    </div>
    <!-- care tree -->
    <div class="care-title">
      <h2>Guides by topic</h2>
    </div>
    <section class="care-container">
      <ul class="care-list">
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/watering_2x.png" alt="" />
            <h4>Watering</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/safety_2x.png" alt="" />
            <h4>Safety</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/tools_2x.png" alt="" />
            <h4>Plant maintenance</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/bug_2x.png" alt="" />
            <h4>Bugs</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/pruning_2x.png" alt="" />
            <h4>Pruning & shaping</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/sun-cloud_2x.png" alt="" />
            <h4>Light & weather</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/soil-pot_2x.png" alt="" />
            <h4>Soil & potting</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/plant-choose_2x.png" alt="" />
            <h4>Choosing a plant</h4></a
          >
        </li>
        <li class="care-item">
          <a href=""
            ><img src="../assets/img/plant-ground_2x.png" alt="" />
            <h4>Growing</h4></a
          >
        </li>
      </ul>
    </section>
    <div class="ship-box">
      <img src="../assets/img/shipper_back.jpg" alt="" class="shipper" />
      <img src="../assets/img/shipper.jpg" alt="" class="shipper_back" />
      <svg
        class="road"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <path
          fill="#34241f"
          fill-opacity="1"
          d="M0,288L48,272C96,256,192,224,288,229.3C384,235,480,277,576,288C672,299,768,277,864,272C960,267,1056,277,1152,282.7C1248,288,1344,288,1392,288L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>

    <div class="banner-container">
      <div class="banner-item" style="display: block">
        <h2 class="banner-title">shop plant</h2>
        <p class="banner-description">Discover the best air purifying plant</p>
      </div>
      <div class="banner-item">
        <div class="banner-wrapper-img">
           <img src="../assets/img/tree-1.jpg" alt="" class="banner-img" />
        </div>
       
        <div class="banner-content-wrapper" style="width: 200px">
          <h3 class="banner-content-name">pham</h3>
          <p>show now</p>
        </div>
      </div>
      <div class="banner-item">
        <div class="banner-wrapper-img">
          <img src="../assets/img/tree-2.jpg" alt="" class="banner-img" />
        </div>  
        <div class="banner-content-wrapper">
          <h3 class="banner-content-name">minh</h3>
          <p>show now</p>
        </div>
      </div>
      <div class="banner-item">
        <div class="banner-wrapper-img">
          <img src="../assets/img/tree-3.jpg" alt="" class="banner-img" />
        </div>
        <div class="banner-content-wrapper">
          <h3 class="banner-content-name">khoa</h3>
          <p>show now</p>
        </div>
      </div>
    </div>
    <div class="banner-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#75a65f"
          fill-opacity="1"
          d="M0,224L120,229.3C240,235,480,245,720,240C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
      </svg>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 1400 320">
      <path
        fill="#abcc8d"
        fill-opacity="1"
        d="M0,64L80,74.7C160,85,320,107,480,133.3C640,160,800,192,960,181.3C1120,171,1280,117,1360,90.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>