<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./assets/css/shiping_page.css">
    <link rel="stylesheet" href="./assets/css/shipping_methor.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--icon.css-->
  <script src="../js/AngularJS/angular.min.js"></script><!--angular.js src-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <link rel="stylesheet" href="../assets/css/shiping_page.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <!-- <link href="../assets/css/shiping_page.css" rel="stylesheet"> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div>
    <section>
      <nav ng-app="MyApp" ng-controller="MyController">
        <form name="MyForm" ng-submit="MyForm.$valid" novalidate>
          <div class="boxshadow"><!--contain the form-->
            SHIPPING ADDRESS
            <hr>
            <table>
              <tr>
                <div class="emailinput">
                  <label>EMAIL ADDRESS<span class="required">&nbsp;*</span></label><br>
                  <div class="inputbox" style="width:100%;min-width: none;max-width: 460px;">
                    <input type="email" class="ii"ng-model="EmailAddress" id="email" name="Email"
                      style="width:calc(100% - 30px);height:40px;" required
                      placeholder="example@domain.com"><!--input email-->
                    <i class="glyphicon glyphicon-question-sign"
                      onclick="showex()"></i><!--onclick the incon to show explan-->
                    <div id="myDropdown" class="dropdown-content"><!--contain content explan-->
                      <a id="explain">We'll send your order confirmation here</a>
                    </div>
                  </div>
                  <div ng-show="MyForm.$submitted || MyForm.Email.$touched">
                    <span ng-style="errornote" ng-show="MyForm.Email.$error.email">Please enter a valid email address
                      (Ex:
                      johndoe@domain.com).</span>
                  </div><!--contain content will dropdown when the show with conditioin is true-->
                  <div ng-show="MyForm.$submitted || MyForm.Email.$touched">
                    <span ng-style="errornote" ng-show="MyForm.Email.$error.required">This is a required field.</span>
                  </div>
                </div>
              </tr>
              <tr>
                <td>
                  <label>FIRST NAME<span class="required">&nbsp;*</span></label><br>
                  <input ng-model="user.fname" class="ii"name="fname" id="fname" type="text" required>
                  <div ng-show="MyForm.$submitted || MyForm.fname.$touched">
                    <span ng-style="errornote" ng-show="MyForm.fname.$error.required">This is a required field.</span>
                  </div>
                </td>
                <td>
                  <label>LAST NAME<span class="required">&nbsp;*</span></label><br>
                  <input ng-model="user.lname" class="ii"name="lname" id="lname" type="text" required><br>
                  <div ng-show="MyForm.$submitted || MyForm.lname.$touched">
                    <span ng-style="errornote" ng-show="MyForm.lname.$error.required">This is a required field.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label>COMPANY</label><br>
                  <input type="text" class="ii"><br>
                </td>
              </tr>
              <tr>
                <td>
                  <label>STREET ADDRESS<span class="required">&nbsp;*</span></label><br>
                  <input ng-model="address" class="ii"name="address" id="address" type="text" required><br>
                  <div ng-show="MyForm.$submitted || MyForm.address.$touched">
                    <span ng-style="errornote" ng-show="MyForm.address.$error.required">This is a required field.</span>
                  </div>
                </td>
                <td>
                  <label>STREET ADDRESS 2</label><br>
                  <input type="text" class="ii"><br>
                </td>
              </tr>
              <tr>
                <td>
                  <label>STREET ADDRESS 3</label><br>
                  <input class="ii"type="text"><br>
              </tr>
              <tr>
                <td>
                  <label>COUNTRY<span class="required">&nbsp;*</span></label><br>
                  <input class="ii" ng-model="country" name="country" id="country" list="listcountry" type="text" required>
                  <datalist id="listcountry" role="listbox"><!--list country-->
                    <option value="VIETNAM">VIETNAM</option>
                    <option value="INDIA">INDIA</option>
                    <option value="USA">USA</option>
                  </datalist><br>
                  <div ng-show="MyForm.$submitted || MyForm.country.$touched">
                    <span ng-style="errornote" ng-show="MyForm.country.$error.required">This is a required field.</span>
                  </div>
                </td>
                <td>
                  <label>STATE/PROVINCE/CITY<span class="required">&nbsp;*</span></label><br>
                  <input class="ii" ng-model="place" id="place" name="place" list="s/t/c" autocomplete="off" name="s/t/c" required>
                  <datalist id="s/t/c" role="listbox"><!--list place-->
                    <option value="HA NOI">HA NOI</option>
                    <option value="HO CHI MINH CITY">HO CHI MINH CITY</option>
                    <option value="HAI PHONG">HAI PHONG</option>
                    <option value="DA NANG">DA NANG</option>
                    <option value="CAN THO">CAN THO</option>
                    <option value="MUMBAI">MUMBAI</option>
                    <option value="SURAT">SURAT</option>
                    <option value="NEW DELHI">NEW DELHI</option>
                    <option value="HYDERABAD">HYDERABAD</option>
                    <option value="PUNE">PUNE</option>
                    <option value="NEW YORK">NEW YORK</option>
                    <option value="WASHINGTON">WASHINGTON</option>
                    <option value="CALIFORNIA">CALIFORNIA</option>
                    <option value="MASSACHUSETTS">MASSACHUSETTS</option>
                    <option value="CONNECTICUT">CONNECTICUT</option>
                  </datalist><br>
                  <div ng-show="MyForm.$submitted || MyForm.place.$touched">
                    <span ng-style="errornote" ng-show="MyForm.place.$error.required">This is a required field.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label>ZIP/POSTAL CODE<span class="required">&nbsp;*</span></label><br>
                  <input class="ii" ng-model="postcode" id="postcode" name="postcode" type="text" required><br>
                  <div ng-show="MyForm.$submitted || MyForm.postcode.$touched">
                    <span ng-style="errornote" ng-show="MyForm.postcode.$error.required">Your email address is not
                      empty</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label>PHONE NUMBER<span class="required">&nbsp;*</span></label><br>
                  <div class="inputbox">
                    <input class="ii" ng-model="phonenum" name="phonenum" id="phone" type="number" name="phone"
                      required /><!--input nuber phone--><!--only for chrome,microsoft edge 10.0,Firefox,safari,opera 11.0-->
                    <i class="glyphicon glyphicon-question-sign"
                      onclick="showex2()"></i><!--onclick the incon to show explan-->
                    <div id="myDropdown2" class="dropdown-content2">
                      <a>For delivary questions</a>
                    </div>
                  </div>
                  <div ng-show="MyForm.$submitted || MyForm.phonenum.$touched">
                    <span ng-style="errornote" ng-show="MyForm.phonenum.$error.required">This is a required
                      field.</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <br><br>
          <div class="boxshadow">
            <label>SHIPPING METHODS</label>
            <hr>
            <input class="ii" type="radio" id="pickatwarehouse">&nbsp;$0.00&nbsp;
            <label>PICKUP AT WAREHOUSE</label>
            <div id="note">If you pick up at the warehouse, the shipping fee will be waived,
              if you don't choose
              to pick it up,
              please leave your time schedule below so we can deliver it when you are home.
            </div>
            <label>YOUR SCHEDULE DATE</label>
            <div class="inputbox" style="width:220px;">
              <input class="ii" type="text" id="datepicker" style="width:190px;height:40px;">
              <i class="glyphicon glyphicon-calendar"></i>
              <div id="myDropdown2" class="dropdown-content2">
                <a>For delivary questions</a>
              </div>
            </div>
          </div><br><br>
          <div class="controllbtn">
            <span><input class="ii" type="submit" id="backbtn" value="BACK">&nbsp;</span>
            <span onclick="nextpage()"><input class="ii"type="submit" value="NEXT" id="nextbtn" onclick="save()"></span>
            <br></br>
          </div>
        </form>
      </nav>
      <article class="kk">
        <div>
          <div>
            <span class="ordersummarythum">Order Summary</span>
            <hr>
            <div class="listpro">
              <div id="product-list"></div>
              Total Money : <span id="totalMoney"></span>$
            </div>
          </div>
        </div>
      </article>
      </secion>


  </div>
  <script src="../js/shipping_page.js">//main javascript script
  </script>
  <script>
    function showex() {
      document.getElementById("myDropdown").classList.toggle("show");//explain for email
    }
    function showex2() {
      document.getElementById("myDropdown2").classList.toggle("show2");//explain for number phone
    }
  </script>

  <script>
    $(function () {
      $("#datepicker").datepicker({//add function to input have datepicker id
        minDate: 0//set min day is today
      });
    });
  </script>
  <script>
    const productList = document.getElementById("product-list");
    const totalMoneySpan = document.getElementById("totalMoney");
    let cartData = JSON.parse(localStorage.getItem("cart")) || { Cart: [] }; // Lấy dữ liệu từ LocalStorage hoặc tạo mới
    const showProducts = () => {
      productList.innerHTML = "";
      let totalMoney = 0;
      cartData.Cart.forEach((product, index) => {
        const productDiv = document.createElement("div");
        productDiv.className = "product";
        productDiv.innerHTML = `
      <div><img id="propic" src="${product.image1}" style="height: 200px;"></div><br>
      <div>${product.name}   ${product.price}$  <span class="glyphicon glyphicon-trash" data-index="${index}" style="cursor: pointer;  float: right;
}"></span> </div>
      <hr>
    `;
        productList.appendChild(productDiv);
        totalMoney += product.price;
      });
      totalMoneySpan.textContent = totalMoney;
    };

    showProducts(); // Hiển thị dữ liệu từ LocalStorage khi tải trang

    const trashIcons = document.querySelectorAll(".glyphicon-trash");
    trashIcons.forEach(icon => {
      icon.addEventListener("click", function () {
        const index = parseInt(this.getAttribute("data-index"));
        cartData.Cart.splice(index, 1);
        // Lưu dữ liệu mới vào LocalStorage
        localStorage.setItem("cart", JSON.stringify(cartData));
        showProducts();
      });
    });

  </script>
</body>

</html>