<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./assets/css/shiping_page.css">
    <link rel="stylesheet" href="./assets/css/shipping_methor.css">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">icon.css
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script><!--control date_input.js-->
  <script src="../js/AngularJS/angular.min.js"></script><!--angular.js src-->
  <link rel="icon" href="./asset/fonts/favicon_io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../assets/css/test.css">
  <link rel="stylesheet" href="../assets/css/shipping_methor.css">

</head>

<body>
  <div>
    <section ng-app="MyApp" ng-controller="MyController">
      <nav class="nn">
        <form name="MyForm2">
          <div class="boxshadow">
            PAYMENT METHOD
            <hr>
            <button class="paymentbutton" ng-click="showbtnaccess1()" onclick="showpayment2()">
              <img class="imgpay" src="../assets/img/5566931.png"><br><span class="payment">PAY BY
                CARD</span></button>
            <hr>
            <div id="droppayment2" ng-show="showpayment1">
              <div> <input type="checkbox"> My billing and shiping address are the same</div>
              <hr>
              <span>Enter your card detail : </span><br>
              <div class="inputbox" style="width:100%;min-width: none;max-width: 310px;">
                <input id="cardid" type="number" ng-model="cardid" name="cardid"
                  style="width:calc(100% - 30px);height:40px; " required placeholder="1234 1234 1234">
                <i class="glyphicon glyphicon-credit-card"></i>
              </div>
              <div><input id="timecreatecard" class="inputbox" style="width:150px;height:40px;" type="text"
                  placeholder="MM/YY">
                <input type="number" id="cvc" class="inputbox" style="width:150px;height:40px;" placeholder="CVC">
              </div>
            </div>
            <button class="paymentbutton" ng-click="showbtnaccess2()" onclick="showpayment3()"><img class="imgpay"
                src="../assets/img/7264188.png"><br><span class="payment">PAY OVER
                TIME</span></button>
            <hr>
            <div id="droppayment3" ng-show="showpayment2">
              <div> <input type="checkbox"> My billing and shiping address are the same</div>
              <hr>
              <div>
                <div id="note">
                  If you select this option, an experienced Hudson's sales/desgin assistant will
                  contact you
                  shortly to answer any
                  questions,help with your order and collect payment.
                </div>
              </div>
            </div>
            <button class="paymentbutton" ng-click="showbtnaccess3()" onclick="showpayment4()">

              <img class="imgpay" src="../assets/img/7264188.png"><br><span class="payment">PAY AFTER
                RECIEVE</span></button>
            <hr>
            <div id="droppayment4" ng-show="showpayment3">
              <div><input class="checkinfo" type="checkbox"> My billing and shiping address are the same
              </div>
              <hr>
              <div>
                <div id="note">
                  If you select this option, an experienced Hudson's sales/desgin assistant will
                  contact you
                  shortly to answer any
                  questions,help with your order and collect payment.
                </div>
              </div>
            </div>
            <div>
              <input id="accescondition" type="checkbox">
              <button id="showcondition">I agree to Hudson's Furniture's Terms & Conditions</button>
            </div>
            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <span>
                  <script src="../js/condition.js"></script><!--terms & conditions-->
                </span>
              </div>
            </div>
            <span onclick="showpayment()">Have a voucher code or discount?</span>
            <div id="droppayment" class="dropdown-content">
              <input type="text"><button style="width:auto;height:auto;">ADD</button>
            </div>
          </div>
          <br>
          <div class="paymenaccesscontian"><input type="submit" id="paymenaccess" ng-show="payacces1" value="PLACE ODER"
              onclick="alertpay()"></div>
          <!-- The Modal -->
          <div id="myModal_alertpay" class="modal_alertpay">
            <!-- Modal content -->
            <div class="modal-content_alertpay">
              <!-- <h2>Thanks for the payment our product, we will try our best to get the product to you as
                soon as possible and now you can sign up for an account have a nice day</h2>
              <br>
              <div class="btn-return"><a href="./home.html" id="btn-return_home">RETURN TO
                  HOME PAGE</a></div> -->
             
            </div>
          </div>
          <!-- Modal content -->
          <div class="paymenaccesscontian"><input type="submit" id="paymenaccess" ng-show="payacces2" value="AFFIRM"
              onclick="affirm()"></div>
          <div id="myModal_affirm" class="modal_affirm">

            <div class="modal-content_affirm">
              <h2>We have acknowledged your order, please keep in touch with us using the phone number you provided,
                thank you very much.
              </h2>
              <br>
              <div class="btn-return"><a herf="#" id="btn-return_home" onclick="returnhome()">RETURN TO
                  HOME PAGE</a></div>
            </div>
          </div>
          <div class="paymenaccesscontian"><input type="submit" id="paymenaccess" ng-show="payacces3" value="PLACE ODER"
              onclick="alertplace_oder()"></div>
          <div id="myModal_alertplace" class="modal_alertplace">
            <!-- Modal content -->
            <div class="modal-content_alertplace">
              <h2>Thanks for ordering our product,The product will reach you soon ,Now you can sign up for
                an account have a nice day</h2>
              <br>
              <div class="btn-return"><a href="./home.html" id="btn-return_home" onclick="returnhome()">RETURN TO
                  HOME PAGE</a></div>
            </div>
          </div>
          <div class="boxshadow">
            <label>SHIP TO :</label>
            <hr>
            <span id="showfname"></span>&nbsp;<span id="showlname"></span><br>
            <span id="showaddress"></span><br>
            <span id="showplace"></span>&nbsp;<span id="showpost"></span><br>
            <span id="showcountry"></span><br>
            <span id="showphone"></span>
          </div>
        </form>
      </nav>
      <article class="cc" ng-app="MyApp" ng-controller="MyController">
        <div>
          <div>
            <span class="ordersummarythum">Order Summary</span>
            <hr>
            <div>
              <div ng-repeat="personalDetail in personalDetails"><!--list production from shipping page-->
                <div><img src="{{personalDetail.pic}}" style="height: autopx;width: 100%;"></div>
                <div>{{personalDetail.proid}}</div>
                <div>{{personalDetail.proname}}</div>
                <div>{{personalDetail.price}}$</div>
                <div ng-click="removeItem($index)" class="glyphicon glyphicon-trash"></div><br>
                <hr>
              </div>
              Total Money : {{totalmoney}}$
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
  <script src="../js/shipping_page.js"></script><!--take list production-->
  <script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("showcondition");
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    function getfname() {//use function to get the value and return to updateHTML()
      return localStorage.getItem("firstname");
    }
    function getlname() {
      return localStorage.getItem("lastname");
    }
    function getaddress() {
      return localStorage.getItem("address");
    }
    function getcountry() {
      return localStorage.getItem("shippingcountry");
    }
    function getplace() {
      return localStorage.getItem("place");
    }
    function getpost() {
      return localStorage.getItem("postcode");
    }
    function getphonenum() {
      return localStorage.getItem("phone");
    }
    function updateHTML() {
      var lname = getlname();//run one by one function to get value return from localStorage cilent was enter in shippng page
      var fname = getfname();
      var address = getaddress();
      var country = getcountry();
      var place = getplace();
      var postcode = getpost();
      var phone = getphonenum();
      document.getElementById("showfname").innerHTML = fname;//add value to html with id 
      document.getElementById("showlname").innerHTML = lname;
      document.getElementById("showaddress").innerHTML = address;
      document.getElementById("showcountry").innerHTML = country;
      document.getElementById("showplace").innerHTML = place;
      document.getElementById("showpost").innerHTML = postcode;
      document.getElementById("showphone").innerHTML = phone;
    }
    window.onload = function () {//run function when load page
      updateHTML();
    };
    // modalpayment1
    var modal_alertpay = document.getElementById("myModal_alertpay");
    function alertpay() {
      var checkcondition = document.getElementById("accescondition")
      if (checkcondition.checked == true &&
        document.getElementById("cardid").value != null && document.getElementById("cardid").value != ""
        && document.getElementById("timecreatecard").value != null && document.getElementById("timecreatecard").value != ""
        && document.getElementById("cvc").value != null && document.getElementById("cvc").value != ""
      ) {
       location.href = "./bantumlum.html";
      } else if (checkcondition.checked == false) {
        alert("Please read and agree to our Terms & Conditions")
      }
    }
    

    modalpayment2
    var modal_alertplace = document.getElementById("myModal_alertplace");
    function alertplace_oder() {
      var checkcondition = document.getElementById("accescondition")
      if (checkcondition.checked == true) {
        location.href = "./bantumlum.html";
      } else if (checkcondition.checked == false) {
        alert("Please read and agree to our Terms & Conditions")
      }
    }
    function alertplace_oder() {
      
    }
    // modalpayment3
    var modal_affirm = document.getElementById("myModal_affirm");
    function affirm() {
      var checkcondition = document.getElementById("accescondition")
      if (checkcondition.checked == true) {
        location.href = "./bantumlum.html";
      } else if (checkcondition.checked == false) {
        alert("Please read and agree to our Terms & Conditions")
      }
    }
    
  </script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>

</body>
<!-- link js  -->

</html>