* {
    box-sizing: border-box;
    
}

.required {
    color: rgb(123, 193, 205);
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Create two columns/boxes that floats next to each other */
.nn {
    float: left;
    width: 55%;
    height: 700px;
    /* only for demonstration, should be removed */
    padding: 20px;
    margin-left: 15%;
    margin-right: 20px;
}

.boxshadow {
    box-shadow: 0px 0px 40px 5px #b9b9b9;
}

.boxshadow input[type="checkbox"] {
    width: 12px;
    height: 12px;
}

.cc {
    margin-top: 20px;
    float: left;
    padding: 20px;
    width: 17%;
    
    height: 100%px;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .nn,
    .cc {
        width: 100%;
        height: auto;
    }
}

hr {
    height: 1px;
    background-color: grey;
}

.boxshadow {
    padding: 10px;
}

.paymentbutton {
    border-radius: 5px;
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .5s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.paymentbutton::before {
    content: '';
    width: 0;
    height: 700%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .7s ease;
    display: block;
    z-index: -1;
    color: black;
}

.paymentbutton:hover::before {
    width: 105%;
}

.paymentbutton:hover {
    color: #111;
}

.paymentbutton {
    height: 100px;
    width: 95%;
    margin: 2.5%;
}

.imgpay {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.payment {
    color: black
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3,
.dropdown-content4 {
    display: none;
    background-color: none;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}

input:focus {
    outline: none;
}

.inputbox {
    margin: 5px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0px;
}

.inputbox input {
    border: 1px solid white;
    border-radius: 0px;
    width: 450px;
    margin: 0px;
}

#note {
    width: 100%;
    color: white;
    background-color: rgb(102, 102, 102);
    padding: 10px;
    text-align: justify;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    width: auto;
    height: auto;
    background-color: white;
    color: #000;
}

#myBtn:hover {
    outline: none;
    border: none;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .nn {
        margin-left: 0px;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .cc{
        margin-left: 20px;
        margin-top: 10px;
        padding: 20px;
        width: 90%;
        background-color: #f1f1f1;
        height: 100%px;
        /* only for demonstration, should be removed */
    }

    .ordersummarythum {
        font-size: large;
    }
}

#showfname,
#showlname,
#showaddress,
#showplace,
#showpost,
#showcountry,
#showphone {
    margin-left: 5px;
    font-size: large;
}

#showfname,
#showlname {
    font-weight: 600;
}

#showphone {
    color: rgb(190, 100, 100);
}

.paymenaccesscontian {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paymenaccess {
    background-color: #17C3B2;;
    border: none;
    width: 120px;
    height: 30px;
    margin: 20px;
}

#showcondition {
    color: #17C3B2;
    text-decoration: underline;
    border: none;
    outline: none;
    background-color: white;
}

.modal_alertpay,
.modal_alertplace,
.modal_affirm {
    display: none;
    position: fixed;
    z-index: 200;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content_alertpay,
.modal-content_affirm,
.modal-content_alertplace {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close_alertpay,
.close_affirm,
.close_alertplace {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_alertpay:hover,
.close_affirm:hover,
.close_alertplace:hover,
.close_alertpay:focus,
.close_affirm:focus,
.close_alertplace:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-return {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-return_home {
    font-size: 20px;
    color: #000;
    background-color: rgb(190, 105, 105);
    padding: 10px;
    border: none;
    width: auto;
    height: auto;
    text-decoration: none;
    display: inline-block;
}